body {
    font-family: 'Armio', sans-serif;
}

.container {
    display: grid;
    column-gap: normal;
    grid-template-columns: repeat(2, minmax(200px, 0.15fr));
    margin: 0 auto;
    place-content: center;
}

#romUpload {
    display: none;
}

#soundUpload {
    display: none;
}

.controls {
    margin: 0 auto;
}

.controls td:first-child {
    font-weight: bold;
}

footer {
    padding-top: 20px;
    text-align: center;
}