body {
    font-family: 'Open Sans', sans-serif;
    background-color: #442F38;
    color: #FFFFFF;
}

canvas {
    border: 4px solid #9A9B73;
}

.content {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    column-gap: normal;
    grid-template-columns: repeat(2, minmax(200px, 0.15fr));
    margin: 0 auto;
    place-content: center;
}

input[type=file] {
    display: none;
}

.controls {
    margin: 0 auto;
}

.controls td:first-child {
    font-weight: bold;
}

footer {
    padding-top: 20px;
    text-align: center;
}

.gamepad {
    width: 90%;
    max-width: 448px;
    margin: 20px auto;
    background-color: #38405F;
    padding: 10px;
    border-radius: 10px;
}

.gamepad > .gamepad-row {
    display: flex;
}

.gamepad-row > .gamepad-button-group {
    margin: 0 auto;
    display: flex;
}

.gamepad-button {
    width: 74px;
    height: 74px;
    border-radius: 42px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.gamepad > .gamepad-row:not(:last-child) {
    margin-bottom: 10px;
}

.gamepad-button.white {
    background-color: #e3e2e1;
    border: 8px solid #e3e2e1;
    box-shadow: inset 0 0 5px #858282;
}

.gamepad-button.white:active {
    box-shadow: inset 0 0 10px #858282;
}

.gamepad-button.red {
    background-color: red;
    border: 8px solid red;
    box-shadow: inset 0 0 5px #8A0000;
}

.gamepad-button.red:active {
    box-shadow: inset 0 0 10px #8A0000;
}

.gamepad-button.yellow {
    background-color: #ebc002;
    border: 8px solid #ebc002;
    box-shadow: inset 0 0 5px #967b02;
}

.gamepad-button.yellow:active {
    box-shadow: inset 0 0 10px #967b02;
}

.gamepad-row > .gamepad-button-group > .gamepad-button {
    margin-right: 10px;
}

.gamepad-row > .gamepad-button-group > .gamepad-button:last-child {
    margin-right: 0px;
}

dl {
    display: inline-grid;
    grid-template-columns: max-content 1fr;
}

.warning {
    color: #fca311;
}

.success {
    color: #d1d646;
}